/* Animacao Zoom */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1)
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}
.alinhaBotaoEsquerda {
	text-align: left;
}

#tabelaconfig th {
	background-color: #eee;
	border-bottom: 1px solid black;
}
#tabelaconfig td {
	border-bottom: 1px solid black;
}
