@model GuardaCultura.Models.Hora

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HoraId">Edit</a> |@*Botao Editar*@
    <a asp-action="Index">Back to List</a>
</div>
