@model GuardaCultura.Models.Fotografia

@{
	ViewData["Title"] = "Edit";
}

<section class="wrapper style3 container special">
	<header class="major">
		<h1>Editar Fotografia</h1>
	</header>
	<body>
		<div class="row">
			<div class="col-md-4">
				<form method="post" enctype="multipart/form-data" asp-action="Edit">
					<div class="fields">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="FotografiaId" />
						<div class="form-group field half">
							<label asp-for="Nome" class="control-label"></label>
							<input asp-for="Nome" class="form-control" onchange="CorrigeEspacos(this)"/>
							<span asp-validation-for="Nome" class="textoErro"></span>
						</div>
						<div class="form-group field half">
							<label asp-for="Data_imagem" class="control-label">Data da Fotografia</label>
							<input type="date" asp-for="Data_imagem" class="form-control" />
							<span asp-validation-for="Data_imagem" class="textoErro"></span>
						</div>
						<div class="form-group field half">
							<label asp-for="EstacaoAnoId" class="control-label">Estação do Ano</label>
							<select asp-for="EstacaoAnoId" class="form-control" asp-items="ViewBag.EstacaoAnoId"></select>
							<span asp-validation-for="EstacaoAnoId" class="textoErro"></span>
						</div>
						<div class="form-group field half">
							<label asp-for="TipoImagemId" class="control-label">Tipo de Imagem</label>
							<select asp-for="TipoImagemId" class="form-control" asp-items="ViewBag.TipoImagemId"></select>
							<span asp-validation-for="TipoImagemId" class="textoErro"></span>
						</div>
						<div class="form-group field">
							@*<label asp-for="Fotograf" class="control-label"></label>*@
							<label class="custom-file-label">Fotografia</label>

							@{
								var base64 = Convert.ToBase64String(Model.Foto);
								var imgsrc = string.Format("data:image/gif; base64,{0}", base64);
							}
							<img src='@imgsrc' width="80%" />
							@*<input asp-for="Foto" class="form-control" />*@
							@*<span asp-validation-for="Fotograf" class="textoErro"></span>*@
						</div>
					</div>
					<footer class="major">
						<div class="form-group">
							<input type="submit" value="Editar" class="btn btn-primary" />
							<a asp-action="Index" class="button btn-primary">Lista</a>
						</div>
					</footer>
				</form>
			</div>
		</div>
	</body>
</section>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
