@model GuardaCultura.Models.Miradouro

@{
    ViewData["Title"] = "Edit";
}
<section class="wrapper style3 container special">
    <header>
        @if (Model.E_Miradouro)
        {
            <h1>Editar Miradouro</h1>
        }
        else
        {
            <h1>Editar Paisagem</h1>
        }
        <hr />
    </header>
    <body onload="myFunction()">@*chama a funcao de controlo de paisagem/miradouro quando carrega o formulario*@
        <div class="row centrado">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div class="fields">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MiradouroId" />
                        <div class="form-group field half">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="textoErro"></span>
                        </div>
                        <div class="form-group field half">
                            <label asp-for="Localizacao" class="control-label">Localização</label>
                            <input asp-for="Localizacao" class="form-control" />
                            <span asp-validation-for="Localizacao" class="textoErro"></span>
                        </div>
                        <div class="form-group field half">
                            <label asp-for="Coordenadas_gps" class="control-label">Coordenadas GPS</label>
                            <input asp-for="Coordenadas_gps" class="form-control" />
                            <span asp-validation-for="Coordenadas_gps" class="textoErro"></span>
                        </div>
                        <div class="form-group field half">
                            <label asp-for="Terreno" class="control-label"></label>
                            <input asp-for="Terreno" class="form-control" />
                            <span asp-validation-for="Terreno" class="textoErro"></span>
                        </div>
                        <div class="form-group form-check field half campoBox">
                            @*<label>E_Miradouro</label>
                            <select asp-for="E_Miradouro" class="form-control">
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>*@
                            <label class="form-check-label">
                                <input id="checkMiradouro" onclick="checkMiradouroFunction()" class="form-check-input" asp-for="E_Miradouro" /> @Html.DisplayNameFor(model => model.E_Miradouro)
                                É miradouro
                            </label>
                        </div>
                        <div class="form-group field half">
                            <label asp-for="Condicoes" class="control-label">Condições</label>
                            <input asp-for="Condicoes" class="form-control" />
                            <span asp-validation-for="Condicoes" class="textoErro"></span>
                        </div>
                        <div class="form-group field half">
                            <label asp-for="Descricao" class="control-label">Descrição</label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="textoErro"></span>
                        </div>
                        <input type="checkbox" class="form-check-input" style="display:none" id="checkOcupacao" />
                        <div class="form-group field half" id="divCheckBox">
                            <label asp-for="Ocupacao_maxima" class="control-label"> Ocupação maxima</label>
                            @if (Model.Ocupacao_maxima != -1)
                            {
                                <input asp-for="Ocupacao_maxima" class="form-control" min="0" max="10" />
                            }
                            else
                            {
                                <input asp-for="Ocupacao_maxima" class="form-control" value="" min="0" max="10" />
                            }
                            <span asp-validation-for="Ocupacao_maxima" class="textoErro"></span>@*validacao de campo*@
                        </div>
                    </div>
                    <footer class="major">
                        <div>
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <a asp-action="Index" class="button btn-primary">Voltar</a>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    </body>
</section>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }