@*@model GuardaCultura.Models.RegistarPessoaViewModel*@
<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
<head>
	<title>Dimension by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
	<link rel="stylesheet" href="~/apresentacao/css/main.css" />
	<link rel="stylesheet" href="~/apresentacao/css/slide.css" />
	<link rel="stylesheet" href="~/css/lingua.css" />
	<noscript><link rel="stylesheet" href="~/apresentacao/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	<div id="linguagem">
		<select class="linguagem">
			<option value="PT">PT</option>
			<option value="ENG">ENG</option>
			<option value="TR">TR</option>
		</select>
	</div>

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<div class="logo">
				<span><!--class="icon fa-gem">-->1056 m</span>
			</div>
			<div class="content">
				<div class="inner">
					@*<h1>Lost in Guarda</h1>*@
					@*<p>*@
					@*<a>Guarda</a> uma Cidade a Pensar no Mundo.*@
					<a class="logotipo" asp-controller="Ambiente" asp-action="Ambiente">
						<img src="~/Imagens/LostInGuardaLogo.png" alt="Lost in Guarda Logotipo" width=30% height=30%>
					</a>
					@*</p>*@
				</div>
			</div>
			<nav>
				<ul>
					@if (!User.IsInRole("Administrador") && !User.IsInRole("Controlador") && !User.IsInRole("Turista"))
					{
						<li>
							<a href="#entrar">Login</a>
							@*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
						</li>
					}
					<li><a asp-controller="Ambiente" asp-action="Ambiente">Visitar</a></li>
					<li><a href="#contact">Contacto</a></li>
					@if (!User.IsInRole("Administrador") && !User.IsInRole("Controlador") && !User.IsInRole("Turista"))
					{
						<li><a href="#registar">Registar</a></li>
					}
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">
			@RenderBody()

			<!-- Contact -->
			<article id="contact">
				<h2 class="major">Contact</h2>
				<form method="post" action="#">
					<div class="fields">
						<div class="field half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="4"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
				<ul class="icons">
					@*falta fazer icons*@
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
			</article>

			<!-- Elements -->
			<article id="elements">
				<h2 class="major">Elements</h2>

				<section>
					<h3 class="major">Text</h3>
					<p>
						This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
						This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
						This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.
					</p>
					<hr />
					<h2>Heading Level 2</h2>
					<h3>Heading Level 3</h3>
					<h4>Heading Level 4</h4>
					<h5>Heading Level 5</h5>
					<h6>Heading Level 6</h6>
					<hr />
					<h4>Blockquote</h4>
					<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
					<h4>Preformatted</h4>
					<pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
				</section>

				<section>
					<h3 class="major">Lists</h3>

					<h4>Unordered</h4>
					<ul>
						<li>Dolor pulvinar etiam.</li>
						<li>Sagittis adipiscing.</li>
						<li>Felis enim feugiat.</li>
					</ul>

					<h4>Alternate</h4>
					<ul class="alt">
						<li>Dolor pulvinar etiam.</li>
						<li>Sagittis adipiscing.</li>
						<li>Felis enim feugiat.</li>
					</ul>

					<h4>Ordered</h4>
					<ol>
						<li>Dolor pulvinar etiam.</li>
						<li>Etiam vel felis viverra.</li>
						<li>Felis enim feugiat.</li>
						<li>Dolor pulvinar etiam.</li>
						<li>Etiam vel felis lorem.</li>
						<li>Felis enim et feugiat.</li>
					</ol>
					<h4>Icons</h4>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>

					<h4>Actions</h4>
					<ul class="actions">
						<li><a href="#" class="button primary">Default</a></li>
						<li><a href="#" class="button">Default</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="#" class="button primary">Default</a></li>
						<li><a href="#" class="button">Default</a></li>
					</ul>
				</section>

				<section>
					<h3 class="major">Table</h3>
					<h4>Default</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Item One</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Two</td>
									<td>Vis ac commodo adipiscing arcu aliquet.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Three</td>
									<td> Morbi faucibus arcu accumsan lorem.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Four</td>
									<td>Vitae integer tempus condimentum.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Five</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>

					<h4>Alternate</h4>
					<div class="table-wrapper">
						<table class="alt">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Item One</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Two</td>
									<td>Vis ac commodo adipiscing arcu aliquet.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Three</td>
									<td> Morbi faucibus arcu accumsan lorem.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Four</td>
									<td>Vitae integer tempus condimentum.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Five</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</section>

				<section>
					<h3 class="major">Buttons</h3>
					<ul class="actions">
						<li><a href="#" class="button primary">Primary</a></li>
						<li><a href="#" class="button">Default</a></li>
					</ul>
					<ul class="actions">
						<li><a href="#" class="button">Default</a></li>
						<li><a href="#" class="button small">Small</a></li>
					</ul>
					<ul class="actions">
						<li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
						<li><a href="#" class="button icon solid fa-download">Icon</a></li>
					</ul>
					<ul class="actions">
						<li><span class="button primary disabled">Disabled</span></li>
						<li><span class="button disabled">Disabled</span></li>
					</ul>
				</section>

				<section>
					<h3 class="major">Form</h3>
					<form method="post" action="#">
						<div class="fields">
							<div class="field half">
								<label for="demo-name">Name</label>
								<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
							</div>
							<div class="field half">
								<label for="demo-email">Email</label>
								<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
							</div>
							<div class="field">
								<label for="demo-category">Category</label>
								<select name="demo-category" id="demo-category">
									<option value="">-</option>
									<option value="1">Manufacturing</option>
									<option value="1">Shipping</option>
									<option value="1">Administration</option>
									<option value="1">Human Resources</option>
								</select>
							</div>
							<div class="field half">
								<input type="radio" id="demo-priority-low" name="demo-priority" checked>
								<label for="demo-priority-low">Low</label>
							</div>
							<div class="field half">
								<input type="radio" id="demo-priority-high" name="demo-priority">
								<label for="demo-priority-high">High</label>
							</div>
							<div class="field half">
								<input type="checkbox" id="demo-copy" name="demo-copy">
								<label for="demo-copy">Email me a copy</label>
							</div>
							<div class="field half">
								<input type="checkbox" id="demo-human" name="demo-human" checked>
								<label for="demo-human">Not a robot</label>
							</div>
							<div class="field">
								<label for="demo-message">Message</label>
								<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="primary" /></li>
							<li><input type="reset" value="Reset" /></li>
						</ul>
					</form>
				</section>

			</article>

			<!-- Registar -->
			<article id="registar">
				<partial name="_ModalRegistarApresentacao" />
				<!--<h2 class="major">Registar</h2>
				<form method="post" asp-controller="Pessoas" asp-action="Registar">-->
				@*action="#">*@
				<!--<div class="fields">
				<div class="field half">
					<label asp-for="Nome" class="control-label"></label>
					<input asp-for="Nome" class="form-control" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="field half">
					<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="field half">
					<label asp-for="Password">Password</label>
					<input asp-for="Password" class="password" type="password" name="Password" id="PasswordRegistar" placeholder="Password" />
					<i class="fa fa-eye" onclick="show('olhoPRA','PasswordRegistar')" id="olhoPRA"></i>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="field half">
					<label asp-for="ConfirmPassword">Confirmar Password</label>
					<input asp-for="ConfirmPassword" class="password" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password" />
					<i class="fa fa-eye" onclick="show('olhoCPA','ConfirmPassword')" id="olhoCPA"></i>
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="field half">
					<label asp-for="Data_Nasc">Data Nascimento:</label>
					<input asp-for="Data_Nasc" type="date" id="Data_Nascimento" name="Data_Nasc" onfocus="DataMaxima(this)">
				</div>
				<div class="field half">
					<label asp-for="Sexo">Sexo:</label>
					<select asp-for="Sexo" id="sexo" name="sexo">
						<option value="mas">Masculino</option>
						<option value="fem">Feminino</option>
					</select>
				</div>
				<div class="field half">-->
				@*lista de https://gist.github.com/didats/8154290*@
				<!--<label asp-for="Nacionalidade">Nacionalidade:</label>
						<select id="country" asp-for="Nacionalidade">
							<option value="afghan">Afghan</option>
							<option value="albanian">Albanian</option>
							<option value="algerian">Algerian</option>
							<option value="american">American</option>
							<option value="andorran">Andorran</option>
							<option value="angolan">Angolan</option>
							<option value="antiguans">Antiguans</option>
							<option value="argentinean">Argentinean</option>
							<option value="armenian">Armenian</option>
							<option value="australian">Australian</option>
							<option value="austrian">Austrian</option>
							<option value="azerbaijani">Azerbaijani</option>
							<option value="bahamian">Bahamian</option>
							<option value="bahraini">Bahraini</option>
							<option value="bangladeshi">Bangladeshi</option>
							<option value="barbadian">Barbadian</option>
							<option value="barbudans">Barbudans</option>
							<option value="batswana">Batswana</option>
							<option value="belarusian">Belarusian</option>
							<option value="belgian">Belgian</option>
							<option value="belizean">Belizean</option>
							<option value="beninese">Beninese</option>
							<option value="bhutanese">Bhutanese</option>
							<option value="bolivian">Bolivian</option>
							<option value="bosnian">Bosnian</option>
							<option value="brazilian">Brazilian</option>
							<option value="british">British</option>
							<option value="bruneian">Bruneian</option>
							<option value="bulgarian">Bulgarian</option>
							<option value="burkinabe">Burkinabe</option>
							<option value="burmese">Burmese</option>
							<option value="burundian">Burundian</option>
							<option value="cambodian">Cambodian</option>
							<option value="cameroonian">Cameroonian</option>
							<option value="canadian">Canadian</option>
							<option value="cape verdean">Cape Verdean</option>
							<option value="central african">Central African</option>
							<option value="chadian">Chadian</option>
							<option value="chilean">Chilean</option>
							<option value="chinese">Chinese</option>
							<option value="colombian">Colombian</option>
							<option value="comoran">Comoran</option>
							<option value="congolese">Congolese</option>
							<option value="costa rican">Costa Rican</option>
							<option value="croatian">Croatian</option>
							<option value="cuban">Cuban</option>
							<option value="cypriot">Cypriot</option>
							<option value="czech">Czech</option>
							<option value="danish">Danish</option>
							<option value="djibouti">Djibouti</option>
							<option value="dominican">Dominican</option>
							<option value="dutch">Dutch</option>
							<option value="east timorese">East Timorese</option>
							<option value="ecuadorean">Ecuadorean</option>
							<option value="egyptian">Egyptian</option>
							<option value="emirian">Emirian</option>
							<option value="equatorial guinean">Equatorial Guinean</option>
							<option value="eritrean">Eritrean</option>
							<option value="estonian">Estonian</option>
							<option value="ethiopian">Ethiopian</option>
							<option value="fijian">Fijian</option>
							<option value="filipino">Filipino</option>
							<option value="finnish">Finnish</option>
							<option value="french">French</option>
							<option value="gabonese">Gabonese</option>
							<option value="gambian">Gambian</option>
							<option value="georgian">Georgian</option>
							<option value="german">German</option>
							<option value="ghanaian">Ghanaian</option>
							<option value="greek">Greek</option>
							<option value="grenadian">Grenadian</option>
							<option value="guatemalan">Guatemalan</option>
							<option value="guinea-bissauan">Guinea-Bissauan</option>
							<option value="guinean">Guinean</option>
							<option value="guyanese">Guyanese</option>
							<option value="haitian">Haitian</option>
							<option value="herzegovinian">Herzegovinian</option>
							<option value="honduran">Honduran</option>
							<option value="hungarian">Hungarian</option>
							<option value="icelander">Icelander</option>
							<option value="indian">Indian</option>
							<option value="indonesian">Indonesian</option>
							<option value="iranian">Iranian</option>
							<option value="iraqi">Iraqi</option>
							<option value="irish">Irish</option>
							<option value="israeli">Israeli</option>
							<option value="italian">Italian</option>
							<option value="ivorian">Ivorian</option>
							<option value="jamaican">Jamaican</option>
							<option value="japanese">Japanese</option>
							<option value="jordanian">Jordanian</option>
							<option value="kazakhstani">Kazakhstani</option>
							<option value="kenyan">Kenyan</option>
							<option value="kittian and nevisian">Kittian and Nevisian</option>
							<option value="kuwaiti">Kuwaiti</option>
							<option value="kyrgyz">Kyrgyz</option>
							<option value="laotian">Laotian</option>
							<option value="latvian">Latvian</option>
							<option value="lebanese">Lebanese</option>
							<option value="liberian">Liberian</option>
							<option value="libyan">Libyan</option>
							<option value="liechtensteiner">Liechtensteiner</option>
							<option value="lithuanian">Lithuanian</option>
							<option value="luxembourger">Luxembourger</option>
							<option value="macedonian">Macedonian</option>
							<option value="malagasy">Malagasy</option>
							<option value="malawian">Malawian</option>
							<option value="malaysian">Malaysian</option>
							<option value="maldivan">Maldivan</option>
							<option value="malian">Malian</option>
							<option value="maltese">Maltese</option>
							<option value="marshallese">Marshallese</option>
							<option value="mauritanian">Mauritanian</option>
							<option value="mauritian">Mauritian</option>
							<option value="mexican">Mexican</option>
							<option value="micronesian">Micronesian</option>
							<option value="moldovan">Moldovan</option>
							<option value="monacan">Monacan</option>
							<option value="mongolian">Mongolian</option>
							<option value="moroccan">Moroccan</option>
							<option value="mosotho">Mosotho</option>
							<option value="motswana">Motswana</option>
							<option value="mozambican">Mozambican</option>
							<option value="namibian">Namibian</option>
							<option value="nauruan">Nauruan</option>
							<option value="nepalese">Nepalese</option>
							<option value="new zealander">New Zealander</option>
							<option value="ni-vanuatu">Ni-Vanuatu</option>
							<option value="nicaraguan">Nicaraguan</option>
							<option value="nigerien">Nigerien</option>
							<option value="north korean">North Korean</option>
							<option value="northern irish">Northern Irish</option>
							<option value="norwegian">Norwegian</option>
							<option value="omani">Omani</option>
							<option value="pakistani">Pakistani</option>
							<option value="palauan">Palauan</option>
							<option value="panamanian">Panamanian</option>
							<option value="papua new guinean">Papua New Guinean</option>
							<option value="paraguayan">Paraguayan</option>
							<option value="peruvian">Peruvian</option>
							<option value="polish">Polish</option>
							<option value="portuguese" selected="selected">Portuguese</option>
							<option value="qatari">Qatari</option>
							<option value="romanian">Romanian</option>
							<option value="russian">Russian</option>
							<option value="rwandan">Rwandan</option>
							<option value="saint lucian">Saint Lucian</option>
							<option value="salvadoran">Salvadoran</option>
							<option value="samoan">Samoan</option>
							<option value="san marinese">San Marinese</option>
							<option value="sao tomean">Sao Tomean</option>
							<option value="saudi">Saudi</option>
							<option value="scottish">Scottish</option>
							<option value="senegalese">Senegalese</option>
							<option value="serbian">Serbian</option>
							<option value="seychellois">Seychellois</option>
							<option value="sierra leonean">Sierra Leonean</option>
							<option value="singaporean">Singaporean</option>
							<option value="slovakian">Slovakian</option>
							<option value="slovenian">Slovenian</option>
							<option value="solomon islander">Solomon Islander</option>
							<option value="somali">Somali</option>
							<option value="south african">South African</option>
							<option value="south korean">South Korean</option>
							<option value="spanish">Spanish</option>
							<option value="sri lankan">Sri Lankan</option>
							<option value="sudanese">Sudanese</option>
							<option value="surinamer">Surinamer</option>
							<option value="swazi">Swazi</option>
							<option value="swedish">Swedish</option>
							<option value="swiss">Swiss</option>
							<option value="syrian">Syrian</option>
							<option value="taiwanese">Taiwanese</option>
							<option value="tajik">Tajik</option>
							<option value="tanzanian">Tanzanian</option>
							<option value="thai">Thai</option>
							<option value="togolese">Togolese</option>
							<option value="tongan">Tongan</option>
							<option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
							<option value="tunisian">Tunisian</option>
							<option value="turkish">Turkish</option>
							<option value="tuvaluan">Tuvaluan</option>
							<option value="ugandan">Ugandan</option>
							<option value="ukrainian">Ukrainian</option>
							<option value="uruguayan">Uruguayan</option>
							<option value="uzbekistani">Uzbekistani</option>
							<option value="venezuelan">Venezuelan</option>
							<option value="vietnamese">Vietnamese</option>
							<option value="welsh">Welsh</option>
							<option value="yemenite">Yemenite</option>
							<option value="zambian">Zambian</option>
							<option value="zimbabwean">Zimbabwean</option>
						</select>
					</div>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Registar" class="primary" /></li>-->
				<!--ir para o home/index-->
				<!--<li><input type="reset" value="Reset" onclick="resetPass('olhoPRA', 'PasswordRegistar'); resetPass('olhoCPA','ConfirmPassword');" /></li>
					</ul>
				</form>-->
				@*<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					</ul>*@
			</article>

			<!-- Login -->
			@* aqui nao consigo meter o login a funcionar *@
			<article id="entrar">
				<partial name="_ModalLoginApresentacao" />
				<!--<h2 class="major">Entrar</h2>
				<form id="account" method="post" action="#">
					<div class="fields">
						<div class="field">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
							<label asp-for="Input.Email"></label>
							<input asp-for="Input.Email" class="form-control" />
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="field">
							<label for="password">Password</label>
							<input class="password" type="password" name="Password" id="PasswordLogin" placeholder="Password" />
							<i class="fa fa-eye" onclick="show('olhoPLA','PasswordLogin')" id="olhoPLA"></i>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Login" class="primary" asp-controller="Ambiente" asp-action="OnPostAsync" /></li>-->
				<!--ir para o home/index-->
				<!--<li><input type="reset" value="Reset" onclick="resetPass('olhoPLA', 'PasswordLogin')" /></li>
					</ul>
				</form>-->
				@*<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					</ul>*@
			</article>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; Template: <a href="https://html5up.net/dimension">DIMENSION</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
			@*<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>*@
		</footer>

	</div>

	<!-- BG -->
	<!-- preparado para levar 10 fotos-->
	<div id="bg">
		<div class="slideshow-container">

			<div class="mySlides fade">
				<!--<div class="numbertext">1 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda1.jpg" style="width:100%">
				<!--<div class="text">Caption Text</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda2.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda3.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda4.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda5.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda6.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda7.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda8.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda9.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

			<div class="mySlides fade">
				<!--<div class="numbertext">2 / 3</div>-->
				<img src="~/apresentacao/imagens/guarda10.jpg" style="width:100%">
				<!--<div class="text">Caption Two</div>-->
			</div>

		</div>
		<br>

		<!--quantidade de fotos que pode levar-->
		<div style="text-align:center">
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
	</div>

	<!-- Scripts -->
	<script src="~/apresentacao/js/jquery.min.js"></script>
	<script src="~/apresentacao/js/browser.min.js"></script>
	<script src="~/apresentacao/js/breakpoints.min.js"></script>
	<script src="~/apresentacao/js/util.js"></script>
	<script src="~/apresentacao/js/main.js"></script>
	<script src="~/apresentacao/js/slide.js"></script>
	<script src="~/js/outros.js"></script>

	<script>
		@if (ViewBag.Erro == "Login") {
			@:window.location = "#entrar";
		}
		else if (ViewBag.Erro == "Registar") {
			@:window.location = "#registar";
			@:document.getElementById("erroregistar").style.display = "";
			@:document.getElementById("erroregistar").style.color = "Red";
			@:document.getElementById("erroregistar").style.fontWeight = "bold";
		}
	</script>
</body>
</html>