<!DOCTYPE HTML>
<!--
    Twenty by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Pagina Principal</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/geral/css/main.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<noscript><link rel="stylesheet" href="~/geral/css/noscript.css" /></noscript>
</head>
<body class="index is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h5>
                <a asp-action="index">
	                <img src="~/Imagens/LostInGuardaLogo.png" alt="Lost In Guarda" width=7% height=7%>
                </a>
            </h5>
            <nav id="nav">
				<ul>
					<li class="submenu">
						<a href="#" class="fas dropdown"> Ambiente</a>
						<ul>
							<li>
								<a>Qualidade do ar</a>
							</li>
							<li>
								<a>Paisagens Naturais</a>
							</li>
							<li>
								<a>Miradouros</a>
							</li>
						</ul>
					</li>
					<li><a class="fas"> Capital da Cultura</a></li>
					<li class="submenu">
						<a href="#" class="fas fa-angle-down"> Conhecer a cidade</a>
						<ul>
							<li><a href="#">História</a></li>
							<li><a href="#">Património</a></li>
							<li><a href="#">Torismo</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</li>
					<li><a href="#" class="button primary">Registar</a></li>
					<li>
						<select style="background-color:transparent">
							<option value="PT">PT</option>
							<option value="ENG">ENG</option>
							<option value="TR">TR</option>
						</select>
					</li>
				</ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">

            <!--
                ".inner" is set up as an inline-block so it automatically expands
                in both directions to fit whatever's inside it. This means it won't
                automatically wrap lines, so be sure to use line breaks where
                appropriate (<br />).
            -->
            <div class="inner">

                <header>
                    <h2>Lost in Guarda</h2>
                </header>
                <p>
                    <strong>F</strong>orte -
                    <strong>F</strong>arta -
                    <strong>F</strong>ria -
                    <strong>F</strong>iel -
                    <strong>F</strong>ormosa
                </p>
                <footer>
                    
                </footer>

            </div>

        </section>

        <!-- Main -->
        <article id="main">
            @RenderBody()
            

        </article>

        <!-- CTA -->
        <!--<section id="cta">

            <header>
                <h2>Ready to do <strong>something</strong>?</h2>
                <p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
            </header>
            <footer>
                <ul class="buttons">
                    <li><a href="#" class="button primary">Take My Money</a></li>
                    <li><a href="#" class="button">LOL Wut</a></li>
                </ul>
            </footer>

        </section>-->

        <!-- Footer -->
        <footer id="footer">

            <ul class="icons">
                <li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
                <li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands circle fa-dribbble"><span class="label">Dribbble</span></a></li>
            </ul>

            <ul class="copyright">
				<li>&copy; Template: <a href="https://html5up.net/twenty">TWENTY</a></li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>

        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/geral/js/jquery.min.js"></script>
    <script src="~/geral/js/jquery.dropotron.min.js"></script>
    <script src="~/geral/js/jquery.scrolly.min.js"></script>
    <script src="~/geral/js/jquery.scrollex.min.js"></script>
    <script src="~/geral/js/browser.min.js"></script>
    <script src="~/geral/js/breakpoints.min.js"></script>
    <script src="~/geral/js/util.js"></script>
    <script src="~/geral/js/main.js"></script>

</body>
</html>