@*@model GuardaCultura.Models.RegistarPessoaViewModel*@
<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Pagina Principal</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/geral/css/main.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="~/geral/css/imgsPaisagens.css" />
	<link rel="stylesheet" href="~/geral/css/Login.css" />
	<link rel="stylesheet" href="~/css/outros.css" />
	<noscript><link rel="stylesheet" href="~/geral/css/noscript.css" /></noscript>
</head>
<body class="index is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h5>
				<a asp-controller="Ambiente" asp-action="Ambiente">
					<img src="~/Imagens/LostInGuardaLogo.png" alt="Lost In Guarda" width=7% height=7%>
				</a>
			</h5>
			<nav id="nav">
				<ul>
					<li class="submenu">
						<a href="#" class="fas dropdown"> Ambiente</a>
						<ul>
							<li>
								<a asp-controller="Ambiente" asp-action="QualidadeAr">Qualidade do ar</a>
							</li>
							<li>
								<a asp-controller="Ambiente" asp-action="Paisagens">Paisagens Naturais</a>
							</li>
							<li>
								<a asp-controller="Ambiente" asp-action="Miradouros">Miradouros</a>
							</li>
						</ul>
					</li>
					<li><a class="fas" asp-controller="Fotografias" asp-action="Create"> Capital da Cultura</a></li>
					<li class="submenu">
						<a href="#" class="fas fa-angle-down"> Conhecer a cidade</a>
						<ul>
							<li><a href="#">História</a></li>
							<li><a href="#">Património</a></li>
							<li><a href="#">Torismo</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</li>
					@*<li><a href="#" class="button primary">Registar</a></li>*@
					<li>
						@*<button class="primary" onclick="document.getElementById('LoginModal').style.display='block'; inicio('BLogGeral')" style="width:auto;">Login</button>*@
						<partial name="_LoginPartial" />
					</li>
					<li>
						<select style="background-color:transparent">
							<option value="PT">PT</option>
							<option value="ENG">ENG</option>
							<option value="TR">TR</option>
						</select>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<!--
			".inner" is set up as an inline-block so it automatically expands
			in both directions to fit whatever's inside it. This means it won't
			automatically wrap lines, so be sure to use line breaks where
			appropriate (<br />).
		-->
			<div class="inner">
				<header>
					<h2>Lost in Guarda</h2>
				</header>
				<p>
					<strong>F</strong>orte -
					<strong>F</strong>arta -
					<strong>F</strong>ria -
					<strong>F</strong>iel -
					<strong>F</strong>ormosa
				</p>
				<footer>
				</footer>

			</div>

		</section>

		<!-- Main -->
		<article id="main">
			@RenderBody()


		</article>
		<div>
			@*<partial name="_ModalLoginGeral" />*@@*aqui tirar o comentario para funcionar registo*@
		</div>
		<!--<div id="LoginModal" class="modalLogin animate">
	<span onclick="document.getElementById('LoginModal').style.display='none'" class="closeLogin" title="Close Modal">&times;</span>
	<div class="tab modal-contentLogin" style="margin: auto">
		<button id="BLogGeral" class="tablinks" onclick="openLogin(event, 'Login')">Login</button>
		<button class="tablinks" onclick="openLogin(event, 'Registar')">Registar</button>
	</div>

	<div id="Login" class="tabcontent modal-contentLogin">
		<article id="entrar">
			<h2 class="major"></h2>-->
		@*<form method="post" action="#">*@
		<!--<form id="account" method="post">
	<div class="fields">
		<div class="field half">
			<label for="email">Email</label>
			<input type="text" name="email" id="email" />
		</div>
		<div class="field half">
			<label for="password">Password</label>
			<input class="password" type="password" name="Password" id="PasswordLogin" placeholder="Password" />
			<i class="fa fa-eye" onclick="show('olhoPLA','PasswordLogin')" id="olhoPLA"></i>
		</div>
	</div>
	<ul class="actions">
		<li><input type="submit" value="Login" class="primary"-->
		@*asp-controller="Ambiente" asp-action="Ambiente"*@ <!--/></li>--><!--ir para o home/index-->
		<!--<li><input type="reset" value="Reset" onclick="resetPass('olhoPLA', 'PasswordLogin')" /></li>
				</ul>
			</form>
		</article>
	</div>

	<div id="Registar" class="tabcontent modal-contentLogin">
	<article id="registar">
		<h2 class="major"></h2>
		<form method="post" asp-controller="Pessoas" asp-action="Registar">
			<div class="fields">
				<div class="field half">
					<label asp-for="Nome">Name</label>
					<input asp-for="Nome" type="text" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="field half">
					<label asp-for="Email">Email</label>
					<input type="text" nasp-for="Email" id="email" />
				</div>
				<div class="field half">
					<label asp-for="Password">Password</label>
					<input class="password" type="password" asp-for="Password" id="PasswordRegistar" placeholder="Password" />
					<i class="fa fa-eye" onclick="show('olhoPRA','PasswordRegistar')" id="olhoPRA"></i>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="field half">
					<label asp-for="ConfirmPassword">Confirmar Password</label>
					<input class="password" type="password" asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password" />
					<i class="fa fa-eye" onclick="show('olhoCPA','ConfirmPassword')" id="olhoCPA"></i>
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="field half">
					<label asp-for="Data_Nasc">Data Nascimento:</label>
					<input type="date" id="Data_Nascimento" asp-for="Data_Nasc" onfocus="DataMaxima(this)">
				</div>
				<div class="field half">
					<label asp-for="Sexo">Sexo:</label>
					<select id="sexo"asp-for="Sexo">
						<option value="mas">Masculino</option>
						<option value="fem">Feminino</option>
					</select>
				</div>
				<div class="field half">
					<label asp-for="Nacionalidade">Nacionalidade:</label>
					<select id="country" asp-for="Nacionalidade">
						<option value="afghan">Afghan</option>
						<option value="albanian">Albanian</option>
						<option value="algerian">Algerian</option>
						<option value="american">American</option>
						<option value="andorran">Andorran</option>
						<option value="angolan">Angolan</option>
						<option value="antiguans">Antiguans</option>
						<option value="argentinean">Argentinean</option>
						<option value="armenian">Armenian</option>
						<option value="australian">Australian</option>
						<option value="austrian">Austrian</option>
						<option value="azerbaijani">Azerbaijani</option>
						<option value="bahamian">Bahamian</option>
						<option value="bahraini">Bahraini</option>
						<option value="bangladeshi">Bangladeshi</option>
						<option value="barbadian">Barbadian</option>
						<option value="barbudans">Barbudans</option>
						<option value="batswana">Batswana</option>
						<option value="belarusian">Belarusian</option>
						<option value="belgian">Belgian</option>
						<option value="belizean">Belizean</option>
						<option value="beninese">Beninese</option>
						<option value="bhutanese">Bhutanese</option>
						<option value="bolivian">Bolivian</option>
						<option value="bosnian">Bosnian</option>
						<option value="brazilian">Brazilian</option>
						<option value="british">British</option>
						<option value="bruneian">Bruneian</option>
						<option value="bulgarian">Bulgarian</option>
						<option value="burkinabe">Burkinabe</option>
						<option value="burmese">Burmese</option>
						<option value="burundian">Burundian</option>
						<option value="cambodian">Cambodian</option>
						<option value="cameroonian">Cameroonian</option>
						<option value="canadian">Canadian</option>
						<option value="cape verdean">Cape Verdean</option>
						<option value="central african">Central African</option>
						<option value="chadian">Chadian</option>
						<option value="chilean">Chilean</option>
						<option value="chinese">Chinese</option>
						<option value="colombian">Colombian</option>
						<option value="comoran">Comoran</option>
						<option value="congolese">Congolese</option>
						<option value="costa rican">Costa Rican</option>
						<option value="croatian">Croatian</option>
						<option value="cuban">Cuban</option>
						<option value="cypriot">Cypriot</option>
						<option value="czech">Czech</option>
						<option value="danish">Danish</option>
						<option value="djibouti">Djibouti</option>
						<option value="dominican">Dominican</option>
						<option value="dutch">Dutch</option>
						<option value="east timorese">East Timorese</option>
						<option value="ecuadorean">Ecuadorean</option>
						<option value="egyptian">Egyptian</option>
						<option value="emirian">Emirian</option>
						<option value="equatorial guinean">Equatorial Guinean</option>
						<option value="eritrean">Eritrean</option>
						<option value="estonian">Estonian</option>
						<option value="ethiopian">Ethiopian</option>
						<option value="fijian">Fijian</option>
						<option value="filipino">Filipino</option>
						<option value="finnish">Finnish</option>
						<option value="french">French</option>
						<option value="gabonese">Gabonese</option>
						<option value="gambian">Gambian</option>
						<option value="georgian">Georgian</option>
						<option value="german">German</option>
						<option value="ghanaian">Ghanaian</option>
						<option value="greek">Greek</option>
						<option value="grenadian">Grenadian</option>
						<option value="guatemalan">Guatemalan</option>
						<option value="guinea-bissauan">Guinea-Bissauan</option>
						<option value="guinean">Guinean</option>
						<option value="guyanese">Guyanese</option>
						<option value="haitian">Haitian</option>
						<option value="herzegovinian">Herzegovinian</option>
						<option value="honduran">Honduran</option>
						<option value="hungarian">Hungarian</option>
						<option value="icelander">Icelander</option>
						<option value="indian">Indian</option>
						<option value="indonesian">Indonesian</option>
						<option value="iranian">Iranian</option>
						<option value="iraqi">Iraqi</option>
						<option value="irish">Irish</option>
						<option value="israeli">Israeli</option>
						<option value="italian">Italian</option>
						<option value="ivorian">Ivorian</option>
						<option value="jamaican">Jamaican</option>
						<option value="japanese">Japanese</option>
						<option value="jordanian">Jordanian</option>
						<option value="kazakhstani">Kazakhstani</option>
						<option value="kenyan">Kenyan</option>
						<option value="kittian and nevisian">Kittian and Nevisian</option>
						<option value="kuwaiti">Kuwaiti</option>
						<option value="kyrgyz">Kyrgyz</option>
						<option value="laotian">Laotian</option>
						<option value="latvian">Latvian</option>
						<option value="lebanese">Lebanese</option>
						<option value="liberian">Liberian</option>
						<option value="libyan">Libyan</option>
						<option value="liechtensteiner">Liechtensteiner</option>
						<option value="lithuanian">Lithuanian</option>
						<option value="luxembourger">Luxembourger</option>
						<option value="macedonian">Macedonian</option>
						<option value="malagasy">Malagasy</option>
						<option value="malawian">Malawian</option>
						<option value="malaysian">Malaysian</option>
						<option value="maldivan">Maldivan</option>
						<option value="malian">Malian</option>
						<option value="maltese">Maltese</option>
						<option value="marshallese">Marshallese</option>
						<option value="mauritanian">Mauritanian</option>
						<option value="mauritian">Mauritian</option>
						<option value="mexican">Mexican</option>
						<option value="micronesian">Micronesian</option>
						<option value="moldovan">Moldovan</option>
						<option value="monacan">Monacan</option>
						<option value="mongolian">Mongolian</option>
						<option value="moroccan">Moroccan</option>
						<option value="mosotho">Mosotho</option>
						<option value="motswana">Motswana</option>
						<option value="mozambican">Mozambican</option>
						<option value="namibian">Namibian</option>
						<option value="nauruan">Nauruan</option>
						<option value="nepalese">Nepalese</option>
						<option value="new zealander">New Zealander</option>
						<option value="ni-vanuatu">Ni-Vanuatu</option>
						<option value="nicaraguan">Nicaraguan</option>
						<option value="nigerien">Nigerien</option>
						<option value="north korean">North Korean</option>
						<option value="northern irish">Northern Irish</option>
						<option value="norwegian">Norwegian</option>
						<option value="omani">Omani</option>
						<option value="pakistani">Pakistani</option>
						<option value="palauan">Palauan</option>
						<option value="panamanian">Panamanian</option>
						<option value="papua new guinean">Papua New Guinean</option>
						<option value="paraguayan">Paraguayan</option>
						<option value="peruvian">Peruvian</option>
						<option value="polish">Polish</option>
						<option value="portuguese" selected>Portuguese</option>
						<option value="qatari">Qatari</option>
						<option value="romanian">Romanian</option>
						<option value="russian">Russian</option>
						<option value="rwandan">Rwandan</option>
						<option value="saint lucian">Saint Lucian</option>
						<option value="salvadoran">Salvadoran</option>
						<option value="samoan">Samoan</option>
						<option value="san marinese">San Marinese</option>
						<option value="sao tomean">Sao Tomean</option>
						<option value="saudi">Saudi</option>
						<option value="scottish">Scottish</option>
						<option value="senegalese">Senegalese</option>
						<option value="serbian">Serbian</option>
						<option value="seychellois">Seychellois</option>
						<option value="sierra leonean">Sierra Leonean</option>
						<option value="singaporean">Singaporean</option>
						<option value="slovakian">Slovakian</option>
						<option value="slovenian">Slovenian</option>
						<option value="solomon islander">Solomon Islander</option>
						<option value="somali">Somali</option>
						<option value="south african">South African</option>
						<option value="south korean">South Korean</option>
						<option value="spanish">Spanish</option>
						<option value="sri lankan">Sri Lankan</option>
						<option value="sudanese">Sudanese</option>
						<option value="surinamer">Surinamer</option>
						<option value="swazi">Swazi</option>
						<option value="swedish">Swedish</option>
						<option value="swiss">Swiss</option>
						<option value="syrian">Syrian</option>
						<option value="taiwanese">Taiwanese</option>
						<option value="tajik">Tajik</option>
						<option value="tanzanian">Tanzanian</option>
						<option value="thai">Thai</option>
						<option value="togolese">Togolese</option>
						<option value="tongan">Tongan</option>
						<option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
						<option value="tunisian">Tunisian</option>
						<option value="turkish">Turkish</option>
						<option value="tuvaluan">Tuvaluan</option>
						<option value="ugandan">Ugandan</option>
						<option value="ukrainian">Ukrainian</option>
						<option value="uruguayan">Uruguayan</option>
						<option value="uzbekistani">Uzbekistani</option>
						<option value="venezuelan">Venezuelan</option>
						<option value="vietnamese">Vietnamese</option>
						<option value="welsh">Welsh</option>
						<option value="yemenite">Yemenite</option>
						<option value="zambian">Zambian</option>
						<option value="zimbabwean">Zimbabwean</option>
					</select>
				</div>
			</div>
			<ul class="actions">
				<li><input type="submit" value="Registar" class="primary"/></li>-->
		<!--ir para o home/index-->
		<!--<li><input type="reset" value="Reset" onclick="resetPass('olhoPRA', 'PasswordRegistar'); resetPass('olhoCPA','ConfirmPassword');" /></li>
				</ul>
			</form>
		</article>
	</div>
	</div>-->
		<!-- CTA -->
		<!--<section id="cta">

		<header>
			<h2>Ready to do <strong>something</strong>?</h2>
			<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="#" class="button primary">Take My Money</a></li>
				<li><a href="#" class="button">LOL Wut</a></li>
			</ul>
		</footer>

	</section>-->
		<!-- Footer -->
		<footer id="footer">
			<ul>
				<a asp-controller="Ambiente" asp-action="Sobre" class="button btn-primary">Sobre nós</a>
			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
				<li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon brands circle fa-dribbble"><span class="label">Dribbble</span></a></li>
			</ul>

            <ul class="copyright">
                <li>&copy; Template: <a href="https://html5up.net/twenty">TWENTY</a></li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
            <div>
                <a asp-controller="Home" asp-action="BackOffice" class="button btn-primary">Back Office</a>
            </div>

		</footer>

	</div>

	<!-- Scripts -->
	<script src="~/geral/js/jquery.min.js"></script>
	<script src="~/geral/js/jquery.dropotron.min.js"></script>
	<script src="~/geral/js/jquery.scrolly.min.js"></script>
	<script src="~/geral/js/jquery.scrollex.min.js"></script>
	<script src="~/geral/js/browser.min.js"></script>
	<script src="~/geral/js/breakpoints.min.js"></script>
	<script src="~/geral/js/util.js"></script>
	<script src="~/geral/js/main.js"></script>
	<script src="~/geral/js/imgsPaisagens.js"></script>
	<script src="~/geral/js/Logincontent.js"></script>
	<script src="~/js/outros.js"></script>

	@RenderSection("Scripts", required: false)

</body>
</html>