@{
    //Layout = "_Layout";
    ViewData["Title"] = "Ambiente";
}

<header class="special container">
    <h2>
        <strong>Capital Europeia da Cultura.</strong>
    </h2>
</header>

<!-- Paisagens -->
<section class="wrapper style3 container special">

	<header class="major">
		<h2>O que é? </h2>
	</header>

	<div class="elementor-text-editor elementor-clearfix">
		<p>
			<strong>O programa Capital Europeia da Cultura foi criado em 1985 pela (então) Comissão Europeia, tendo-se rapidamente convertido no maior evento cultural da Europa e um dos seus programas mais emblemáticos. Desde a sua criação, já teve lugar em 58 cidades, de Atenas a Estocolmo, de Liverpool a Istambul, passando por Florença, Amesterdão, Berlim, Paris, Glasgow, Dublin, Madrid, Copenhaga, Bruxelas, Praga ou Marselha.</strong>
		</p>
		<p>
			Em Portugal, três cidades já beneficiaram deste título: Lisboa, em 1994, Porto, em 2001, e Guimarães, em 2012.
		</p>
		<p>
			Anualmente, duas cidades, em dois países diferentes, ostentam o título de Capital Europeia da Cultura, título atribuído cinco anos antes, após um processo de candidatura e seleção por parte de um júri constituído por peritos independentes.
		</p>
		<p>
			A seleção das cidades respeita um sistema rotativo, previamente definido. À data, são conhecidas as cidades Capital Europeia da Cultura até ao ano 2022:
		</p>
		<p>
			Próximas cidades Capital Europeia da Cultura:
		</p>
		<p>
			2020: Rijeka (Croácia) e Galway (Irlanda)
		</p>
		<p>
			2021: Timișoara (Roménia) e Eleusis (Grécia) + Novi Sad (Sérvia)
		</p>
		<p>
			2022: Kaunas (Lituânia) e Esch-sur-Alzette (Luxemburgo)
		</p>
		<p>
			2023 – Veszprém (Hungria);
		</p>
		<p>
			2024 – Tartu (Estónia), Bodø (Noruega, EFTA/EEA) e Bad Ischl (Áustria).
		</p>
		<p>
			Em 2027 uma cidade portuguesa (e uma da Letónia) serão Capital Europeia da Cultura.
		</p>
	</div>
	
</section>

<!-- Two -->
<section class="wrapper style1 container special">
	<header class="major">
		<h2>Processo de Candidatura</h2>
	</header>

	<div class="elementor-text-editor elementor-clearfix">
		<p>
			<strong>O programa europeu Capital Europeia da Cultura assume como objetivos a promoção da diversidade cultural europeia e do acesso livre e democrático a todas as formas de expressão artística e cultural. Uma candidatura a Capital Europeia da Cultura constitui-se, assim, como um processo longo, complexo e exigente. Não se trata de identificar um conjunto de infraestruturas e eventos, mas antes de conceber um programa cultural inovador, aberto, diverso e inclusivo, suportado em conceitos agregadores e em estratégias sustentáveis de desenvolvimento urbano, contribuindo para uma grande participação comunitária e para o reforço da atratividade internacional da cidade.</strong>
		</p>
	</div>

	<h2>Critérios de seleção</h2>

	<div class="elementor-text-editor elementor-clearfix">
		<p>
			A candidatura de uma cidade a Capital europeia da Cultura é avaliada através de seis critérios:
		</p>
		<p>
			<strong>Estratégia a longo prazo</strong>
		</p>
		<ul>
			<li>
				Existência de uma estratégia cultural para a cidade;
			</li>
			<li>
				Plano com vista ao reforço da capacidade dos setores cultural e criativo, incluindo o desenvolvimento de relações a longo prazo entre os setores cultural, económico e social;
			</li>
			<li>
				Prever o impacto a longo prazo ao nível cultural, económico e social, incluindo o desenvolvimento urbano;
			</li>
			<li>
				Planos para o acompanhamento e a avaliação do impacto do título na cidade candidata.
			</li>
		</ul>
		<p>
			&nbsp;
		</p>
		<p>
			<strong>Dimensão europeia</strong>
		</p>
		<ul>
			<li>
				Atividades que promovem a diversidade cultural da Europa, o diálogo intercultural e uma maior compreensão mútua entre os cidadãos europeus;
			</li>
			<li>
				Atividades que realçam os aspetos comuns da cultura, do património e da história europeus, bem como a integração e os temas europeus atuais;
			</li>
			<li>
				O âmbito e a qualidade das atividades em que participam artistas europeus, a cooperação com operadores ou cidades de diferentes países e parcerias transnacionais;
			</li>
			<li>
				A estratégia para atrair o interesse de um vasto público europeu e internacional.
			</li>
		</ul>
		<p>
			&nbsp;
		</p>
		<p>
			<strong>Conteúdo cultural e artístico</strong>
		</p>
		<ul>
			<li>
				Uma visão e uma estratégia artísticas claras e coerentes para o programa cultural;
			</li>
			<li>
				A participação de artistas e organizações culturais locais na conceção e na execução do programa cultural;
			</li>
			<li>
				O alcance e a diversidade das atividades propostas e a sua qualidade artística global;
			</li>
			<li>
				A capacidade para combinar o património cultural local e as formas de arte tradicionais com expressões culturais novas, inovadoras e de caráter experimental.
			</li>
		</ul>
		<p>
			&nbsp;
		</p>
		<p>
			<strong>Capacidade de execução</strong>
		</p>
		<ul>
			<li>
				Amplo e sólido apoio político, suportado por um empenho sustentável das autoridades locais, regionais e nacionais;
			</li>
			<li>
				Infraestruturas adequadas, viáveis e sólidas.
			</li>
		</ul>
		<p>
			&nbsp;
		</p>
		<p>
			<strong>Alcance de públicos</strong>
		</p>
		<ul>
			<li>
				A participação da população local e da sociedade civil na preparação da candidatura e na execução da ação;
			</li>
			<li>
				A criação de novas oportunidades sustentáveis, tendo em vista a participação e a presença de uma vasta gama de cidadãos nas atividades culturais, em particular jovens, voluntários e pessoas marginalizadas e desfavorecidas, incluindo as minorias, sendo dada especial atenção ao acesso a essas atividades por parte das pessoas com deficiência e dos idosos;
			</li>
			<li>
				A estratégia global de alargamento do público, nomeadamente a ligação com o ensino e a participação das escolas.
			</li>
		</ul>
		<p>
			&nbsp;
		</p>
		<p>
			<strong>Gestão</strong>
		</p>
		<ul>
			<li>
				A viabilidade da estratégia de captação de fundos e do orçamento proposto;
			</li>
			<li>
				A estrutura de governação e execução prevista;
			</li>
			<li>
				A estratégia de marketing e comunicação;
			</li>
			<li>
				A estrutura de execução que contemple a necessidade de pessoal com competências adequadas e experiência para planear, gerir e executar o programa cultural.
			</li>
		</ul>
	</div>
</section>

<!-- Three -->
<!--<section class="wrapper style2 container special-alt">
    <div class="row gtr-50">
        <div class="col-8 col-12-narrower">

            <header>
                <h2>Behold the <strong>icons</strong> that visualize what you’re all about. or just take up space. your call bro.</h2>
            </header>
            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
            <footer>
                <ul class="buttons">
                    <li><a href="#" class="button">Find Out More</a></li>
                </ul>
            </footer>

        </div>
        <div class="col-4 col-12-narrower imp-narrower">

            <ul class="featured-icons">
                <li><span class="icon fa-clock"><span class="label">Feature 1</span></span></li>
                <li><span class="icon solid fa-volume-up"><span class="label">Feature 2</span></span></li>
                <li><span class="icon solid fa-laptop"><span class="label">Feature 3</span></span></li>
                <li><span class="icon solid fa-inbox"><span class="label">Feature 4</span></span></li>
                <li><span class="icon solid fa-lock"><span class="label">Feature 5</span></span></li>
                <li><span class="icon solid fa-cog"><span class="label">Feature 6</span></span></li>
            </ul>

        </div>
    </div>
</section>-->

