@{
    //Layout = "_Layout";
    ViewData["Title"] = "Qualidade do ar";
}

<header class="special container">
    <span class="icon solid fa-chart-bar"></span>
    <h2>
        <strong>Janela do site meteoblue !</strong>
    </h2>
    <p>
        <strong>Em Construção...</strong>
        <br />
        <i class="fas fa-tools"></i><br />
        <a asp-action="Ambiente" class="button btn-primary">Voltar à pagina principal</a>
    </p>
</header>