@{
	//Layout = "_Layout";
	ViewData["Title"] = "Qualidade do ar";
}

<header class="special container">
	@*<span class="icon solid fa-chart-bar"></span>*@
	<a href="https://www.meteoblue.com/pt/tempo/semana/guarda_portugal_2738785"><h2><strong>Site meteoblue</strong></h2></a>
	<br />
	<div>
		<iframe src="https://www.meteoblue.com/pt/tempo/semana/guarda_portugal_2738785" width="100%" height="4000" frameborder="0"></iframe>
	</div>
</header>