@{
    //Layout = "_LayoutApresentacao";//o index é o unico que fica com este comando
    ViewData["Title"] = "Sobre";
}

<header class="special container">
    <span class="icon solid fa-chart-bar"></span>
</header>


<!-- one -->
<section class="wrapper style1 container special">
    <div class="row">
        <div class="col-4 col-12-narrower">

            <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                    <h3>Leandro Gomes</h3>
                </header>
                <p> Fundador e programador</p>
            </section>

        </div>
        <div class="col-4 col-12-narrower">

            <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                    <h3>Frederico Cabral</h3>
                </header>
                <p>Fundador e programador</p>
            </section>

        </div>
        <div class="col-4 col-12-narrower">

            <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                    <h3>Simão Teixeira</h3>
                </header>
                <p>Fundador e engenheiro de software</p>
            </section>

        </div>
    </div>
</section>
